<html lang="en">
<head>
  <meta charset="utf-8">

  <title>My cool twitter Analyser</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel ="stylesheet" type = "text/css" href = "static/style.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

</head>

<body>
	<h1 text align="center">Welcome to my HomePage!</h1>
	<br>
	<div class="ey">	
		<a href="/resume" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">My Resume</a>
		<br>
		<br>
		<a href="https://www.youtube.com/user/PewDiePie" class="btn btn-Danger" role="button" aria-pressed="true">SUB TO PEWDS</a>

	<div class="social">
		<p>My Socials</p>
	</div>


	</div>

</body>
</html>