<html lang="en">
<head>
  <meta charset="utf-8">

  <title>My cool twitter Analyser</title>
  <meta name="description" content="My cool twitter handle ">
  <meta name="author" content="SitePoint">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel ="stylesheet" type = "text/css" href = "static/resume.css">
  <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">



</head>

<body>
	<div class="jumbotron">
  <h1 text align="right" class="name">Jaskirat Billing</h1>
  <p text align="right" >11915 92 A Avenue, Delta BC | Phone - 778-997-4780  | billingjas22@gmail.com
   </p>
</div>

	<h2><strong>SKILLS</strong></h2>
	<br>
		
	<div class = "skills">
		<li>vfssfsfsfsf </li>
		<li>dafaedad</li>
		<li>sdfsfsfsfsf</li>
		<li>vsvdssfsfsfsf</li>
		<li>vdgdgdgdgd</li>
		<li>dfdsfdsfsdfsf</li>
	</div>
	<br>

	<h2><strong>Work History</strong></h2>
	<br>
	<h3>XYZ</h3>
	<li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi a</li>
	<br>
	<li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi a</li>
	<br>
	<li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi a</li>
	<br>
	<li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi a</li>
	<br>
	<li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi a</li>
	<br>

	<h2><strong>Operations Manager</strong></h2>
	<br>
	<li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi a</li>
	<br>
	<li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi a</li>
	<br>
	<li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi a</li>
	<br>
	<li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi a</li>
	<br>
	<li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi a</li>
	<br>

	<h2><strong>Education</strong></h2>
	<a href="https://dl.deltasd.bc.ca/" class="btn btn-success" role="success" aria-pressed="true">My School</a>

	<br>
	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi a</p>
	<br>
	<h3>XYZ University</h3>
	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi a</p>

	<p>>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi a</p>


</body>
</html>